//=====Variablblblblbes!=====
//===========================
// 01. Baseline
// 02. Colors




// Baseline

$baseline: 22px;

// All the colors and stuff

// Branding

$mainbrand: #b71c1c;

// Start Main Color-scheme

// -Greys

$greydark: #363636;
$greymid: #464646;
$greylight: #ececec;

// -Blue-Greys

$bluegreydark: #263238;
$bluegreymid: #37474f;
$bluegreylight: #455a64;

// --Start Highlight Colors

// --Greens

$greendark: #8bc34a;
$greenmid: #76ff03;
$greenlight: #b2ff59;

// --Reds

$reddark:#d44435;
$reddark2:#A3402F;
$redmid: #F44336;
$redlight: #F5564A;
